<h3 *ngIf="customer">New Reservation for {{customer.displayName()}}</h3>

<form [formGroup]="reservationForm" (ngSubmit)="onSave()">

  <input type="hidden" formControlName="customer" />
  
  <input type="text" formControlName="startAt" />
  <input type="text" formControlName="endAt" />
  
  <select type="text" formControlName="room">
    <option *ngFor="let room of rooms" [value]="room._id">{{room.number}}</option>
  </select>
  
  <button [disabled]="!reservationForm.valid">Create Reservation</button>
</form>

